@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.bold {
    font-weight: 700;
}

.bd-example {
    position: relative;
    padding: 1rem;
    margin: 1rem -15px 0;
    border: solid #f8f9fa;
    border-width: .2rem 0 0;
}

.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
    background-color: #f8f9fa;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    color: rgba(0,0,0,.9);
}

.navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    flex-direction: row;
    margin-right: auto!important;
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
    color: rgba(0,0,0,.5);
    padding-right: .5rem;
    padding-left: .5rem;
}

.dropdown {
    position: relative;
}

.navbar-nav .dropdown-menu {
    position: absolute;
    top: calc(100% - 5px);
    left: 0;
    z-index: 1000;
    display: none;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    font-weight: 400;
    color: #212529;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.nav-item *:hover .nav-link {
    color: rgba(0,0,0,.9);
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

.wrapper {
    padding: 20px;
    display: flex;
    height: calc(100vh - 91px);
}

.container {
    display: flex;
    min-height: 400px;
    max-height: 100%;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 5px;
    flex-direction: column;
    overflow: auto;
}

.container-left {
    flex: 0 0 20%;
}

.container-main {
    flex-grow: 1;
    margin: 0 20px;
}

.container-right {
    width: 52px;
    display: flex;
    flex: 0 0 20%;
    flex-direction: column;
}

.social-networks {
    margin: 10px 0;
}

.social-icon svg, .social-icon img {
    margin: 0 10px;
    width: 32px;
    height: 32px;
}

.social-icon.vk svg {
    fill: #4c75a3;
}

#gradient-horizontal {
  --color-stop-1: #fdf497;
  --color-stop-2: #fdf497;
  --color-stop-3: #fd5949;
  --color-stop-4: #d6249f;
  --color-stop-5: #285AEB;
}

.social-icon.instagram svg {
    fill: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg'><linearGradient id='grad'><stop offset='0%' stop-color='%23ff00cc'/><stop offset='100%' stop-color='%23333399'/></linearGradient></svg>#grad");
}

.container .container-title {
    padding: 15px 20px;
    border-bottom: 1px solid rgba(0,0,0,.15);
    font-size: 1.5rem;
}

.content {
    padding: 15px 20px;
    overflow: auto;
    max-height: calc(100vh - 250px);
}

.main {
    flex-grow: 1;
}

.blockquote {
    margin-bottom: 1rem;
    font-size: 1.25rem;
    margin: 0 0 1rem;
    text-align: center!important;
}

.blockquote p {
    white-space: pre-line;
}

.blockquote-footer {
    display: block;
    font-size: 80%;
    color: #6c757d;
}

.blockquote-footer::before {
    content: "\2014 \00A0";
}

.f-right {
    float: right;
}

.f-left {
    float: left;
}

.w-100 {
    width: 100%;
}

.text-left {
    text-align: left;
}

.photo {
    width: 150px;
    margin-right: 10px;
}

.about-me-text p {
    line-height: 21px;
}

.about-me-text p:not(:last-child) {
    margin-bottom: 15px;
}

.about-me-text ul {
    list-style: none;
}

.footer {
    padding: 15px 20px;
    border-top: 1px solid rgba(0,0,0,.15);
}

.scrollable {
    display: block;
    overflow: auto;
}

ul.hobbies-list {
    margin-left: 20px;
    list-style: disc;
}

@media (print) {
    img, .container-left, .container-right, .footer, .header {
        display: none;
    }
}

@media (max-width: 768px) {
    .wrapper {
        flex-wrap: wrap;
    }

    .container {
        width: 100%;
        margin-bottom: 20px;
    }

    .container-left {
        flex: 0 0 50%;
        margin-right: 20px;
        min-width: 200px;
        order: 2;
    }

    .container-right {
        order: 3;
        flex-grow: 1;
    }

    .container-left, .container-right {
        max-width: calc(50% - 12px);
    }

    .container-main {
        order: 1;
        margin-right: 0;
        margin-left: 0;
    }

    .photo {
        width: 100px;
    }
}